.emoji-button {
  padding: 0 0.75rem 0 1rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.emoji-button:hover .icon-smile {
  fill: var(--primary);
}

.emoji-button:focus {
  outline: none;
}

.emoji-button:focus .icon-smile {
  fill: var(--primary);
}

.emoji-button.active .icon-smile {
  fill: var(--primary);
}

.icon-smile {
  fill: rgba(var(--gray), 0.35);
  transition: fill 0.3s ease;
}
