.Message {
  background: #fff;
  padding-left: 1.5rem;
  display: flex;
  border-top: 1px solid var(--ui-01);
}

.Message .icon-send {
  fill: rgba(var(--gray), 0.35);
  transition: fill 0.3s ease;
}

.Message.active .icon-send {
  fill: var(--primary);
}

.send-button {
  padding: 0 1.5rem 0 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.send-button:hover .icon-send {
  fill: var(--primary);
}

.send-button:focus {
  outline: none;
}

.send-button:focus .icon-send {
  fill: var(--primary);
}

.Message__input {
  width: 100%;
  background: none;
  color: rgba(var(--black), 0.85);
  border: 0;
  font-size: 15px;
  outline: 0;
  flex: 1 1;
  margin-right: 1rem;
  padding: 1.5rem 0 1.44rem;
}

::placeholder {
  color: rgba(var(--gray), 0.35);
  color: rgba(86, 88, 103, 0.4);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(var(--gray), 0.35);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(var(--gray), 0.35);
}
