/* More Button */

.show-more-menu {
  position: relative;
  align-self: center;
}

.more {
  align-self: center;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.more.show-more-menu {
  opacity: 1;
}

.Chat-container.from-me:hover .more {
  opacity: 1;
}

.more-dot {
  background-color: rgba(var(--black), 0.5);
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-right: 3px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.more-dot:last-of-type {
  margin-right: 0;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
  background-color: rgba(var(--black), 0.5);
}

.show-more-menu .more-menu {
  opacity: 1;
  -webkit-transform: translate(0, 50px) scale(1);
  transform: translate(0, 50px) scale(1);
  pointer-events: auto;
}

.more-btn,
.more-menu-btn {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.more-btn {
  display: flex;
  justify-content: center;
  padding: 11px 5px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.more-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* More Menu */

.more-menu {
  position: absolute;
  z-index: 900;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid rgba(var(--gray), 0.25);
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transform: translate(0, 65px) scale(0.95);
  transform: translate(0, 65px) scale(0.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
  left: -10px;
}

.more-menu-caret {
  position: absolute;
  top: -10px;
  left: 12px;
  width: 18px;
  height: 10px;
  float: left;
  overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
  position: absolute;
  display: inline-block;
  margin-left: -1px;
  font-size: 0;
  line-height: 1;
}

.more-menu-caret-outer {
  border-bottom: 10px solid rgba(var(--gray), 0.25);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
}

.more-menu-caret-inner {
  top: 1px;
  left: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.more-menu-items {
  margin: 0;
  list-style: none;
  padding: 0;
}

.more-menu-item {
  display: block;
}

.more-menu-btn {
  min-width: 100%;
  color: rgba(var(--black), 0.8);
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 5px 20px;
  position: relative;
  white-space: nowrap;
}

.more-menu-item:hover {
  background-color: var(--primary-medium);
}

.more-menu-item:hover .more-menu-btn {
  color: #fff;
}
