.User {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.1s ease;
  color: var(--ui-dark-04);
  border-bottom: 1px solid var(--ui-dark-03);
}

.User:last-of-type {
  border-bottom: none;
}

.User:not(.active):hover {
  background: var(--ui-dark-03);
}

.User.visible .User__details {
  display: block;
}

.User.active {
  background: var(--ui-dark-03);
  box-shadow: inset 5px 0px 0px var(--primary-light);
  color: var(--ui-dark-05);
}

.User:focus {
  outline: none;
  background: var(--ui-dark-03);
}

.User__pic {
  width: 50px;
  border-radius: 50%;
}

.User__details-name {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  text-align: left;
  font-weight: 700;
  font-size: 0.95rem;
}

.User__details {
  display: block;
  padding: 0 0 0 1rem;
}

.User__details-name {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  text-align: left;
  font-weight: 700;
  font-size: 0.95rem;
}

.User__details-status {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.9rem;
}

@media (max-width: 749px) {
  .User__details {
    display: none;
  }
}
