.User {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}

.User:not(.active):hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.User.active {
  background: #333336;
}

.User__pic {
  /* margin-top: 13px; */
  width: 50px;
  border-radius: 50%;
}

.User__details {
  display: none;
}

@media (min-width: 680px) {
  .User__details {
    display: block;
    padding: 0 0 0 1rem;
  }

  .User__details-name {
    margin: 0;
    color: rgba(var(--black), 0.7);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: 700;
  }

  .User__details-status {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 0.9rem;
  }
}
