@font-face {
  font-family: "Avenir-Next";
  font-weight: normal;
  font-style: normal;
  src: url("./Avenir-Next/avenir-next-regular.woff2") format("woff2"),
    url("./Avenir-Next/avenir-next-regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir-Next";
  font-weight: bold;
  font-style: normal;
  src: url("./Avenir-Next/avenir-next-demi.woff2") format("woff2"),
    url("./Avenir-Next/avenir-next-demi.woff") format("woff");
}
