.Empty {
  height: 100%;
  display: grid;
  grid-template-rows: auto 70px;
  padding: 2rem;
  box-sizing: border-box;
}

.Empty__content {
  align-self: center;
  justify-self: center;
}

.Empty__status-container {
  align-self: flex-end;
}

.Empty__name {
  margin-bottom: 0;
  color: var(--primary);
  margin: 1.5rem 0 1rem;
  animation: fadeInUp 1.5s ease;
  font-size: 2rem;
}

.Empty__info {
  max-width: 375px;
  font-size: 1.2rem;
  line-height: 1.4;
  color: rgba(var(--black), 0.7);
  margin: 1rem 0;
  animation: fadeInUp 1.5s ease;
}

.Empty__status {
  border-top: 1px solid rgba(var(--black), 0.15);
  padding-top: 0.75rem;
  margin: 0;
  display: inline-block;
  color: rgba(var(--black), 0.7);
}

.Empty__img {
  border-radius: 50%;
  border: 5px solid var(--primary-light);
  animation: fadeInUp 1s ease;
  width: 128px;
  height: 128px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 749px) {
  .Empty__name {
    font-size: 1.7rem;
  }

  .Empty__info {
    font-size: 1.1rem;
    max-width: 320px;
  }

  .Empty__status {
    font-size: 0.9rem;
  }
}
