.Main {
  /* flex: 1 1 0; */
  background-color: var(--ui-01);
  /* height: 100%; */
  grid-column: 2/3;
  grid-row: 2/3;
  overflow: auto;
  position: relative;
  /* box-shadow: 0px 0px 6px rgba(var(--black), 0.3); */
}
