.Main {
  /* flex: 1 1 0; */
  background-color: var(--ui-01);
  /* height: 100%; */
  grid-column: 2/3;
  grid-row: 2/3;
  overflow: auto;
  position: relative;
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.3);
}
