.Sidebar {
  width: 80px;
  background-color: var(--ui-dark-01);
  /* height: 100%; */
  /* border-right: 1px solid rgba(189, 189, 192, 0.1); */
  transition: width 0.3s ease;
  overflow-y: scroll;
  grid-column: 1/2;
  grid-row: 2/3;
}

@media (min-width: 750px) {
  .Sidebar {
    width: 340px;
  }
}
