.Sidebar {
  width: 340px;
  background-color: var(--ui-dark-01);
  transition: width 0.3s ease;
  overflow-y: scroll;
  height: calc(100% - 60px);
}

.Sidebar.open {
  width: 340px;
}

@media (max-width: 749px) {
  .Sidebar {
    width: 80px;
  }
}
