.Sidebar {
  width: 340px;
  background-color: var(--ui-dark-01);
  transition: all 0.3s ease;
  overflow-y: auto;
  height: calc(100% - 60px);
}

.Sidebar.open {
  width: 340px;
}

@media (max-width: 749px) {
  .Sidebar {
    width: 80px;
  }
}

@media (max-width: 550px) {
  .Sidebar {
    width: 60px;
  }
}
