html,
body,
#root {
  height: 100%;
  font-size: 15px;
}

:root {
  --primary: #6366a5;
  --primary-medium: #7376b5;
  --primary-light: #a3a3c5; /*active shadow*/
  --primary-lighter: #bbbbe0;
  --primary-background: #d8d8ea; /*puple bubble*/
  --primary-dark: #474974; /*user name*/
  --ui-dark-01: #34354a; /*sidebar*/
  --ui-dark-02: #3a3b50; /*hover background*/
  --ui-dark-03: #3f405e; /*active highlight*/
  --ui-dark-04: #a8a9bd; /*text*/
  --ui-dark-05: #dddde8; /*highlight text*/
  --ui-01: #f3f2f1; /*chat background*/
  --black: 38, 37, 36; /* chat text */
  --gray: 86, 88, 103; /* message input */
  --gray-light: #c8c9cf; /*more menu border */
  --font-regular: "Avenir-Next", sans-serif;
}

body,
input {
  font-family: var(--font-regular);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: var(--font-regular);
}
