html,
body,
#root {
  height: 100%;
  font-size: 15px;
}

:root {
  --primary: #6d60b0;
  --primary-light: #dbd7eb;
  --primary-dark: #52416c;
  --secondary: #3dbbe4;
  --ui-01: #f4f8f8;
  --ui-02: #ecf0f0;
  --ui-03: #d6dada;
  --black: 34, 36, 40;
  --font-regular: "AvenirNew", sans-serif;
}

body,
input {
  font-family: var(--font-regular);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
