html,
body,
#root {
  height: 100%;
  font-size: 15px;
}

:root {
  --primary-dark: #065287; /*user name*/
  --primary: #1b6ca9;
  --primary-medium: #2a83be;
  --primary-light: #9cbbdc; /*avatar border*/
  /* --primary-lighter: #a1c1e6; */
  --primary-background: #cedcef; /*blue bubble*/
  --ui-dark-01: #2c3748; /*sidebar*/
  --ui-dark-02: #323d4b; /*hover background*/
  --ui-dark-03: #2e465e; /*active highlight*/
  --ui-dark-04: #a5abbf; /*text*/
  --ui-dark-05: #e0e0e8; /*highlight text*/
  --ui-01: #f3f2f1; /*chat background*/
  --black: 38, 37, 36; /* chat text */
  --gray: 86, 88, 103; /* message input */
  --gray-light: #c8c9cf; /*more menu border */
  --font-regular: "Avenir-Next", sans-serif;
}

body,
input {
  font-family: var(--font-regular);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: var(--font-regular);
}
